@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Playfair+Display+SC&display=swap');

 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 body{
   color: #222;
 }
 p {
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding: 30px;
border: 5px;
font-size: 20px;
text-transform: uppercase;
}
article h3{
   color: #38A;
}
    h2{
        font-family: 'Barlow', sans-serif;
font-family: 'Playfair Display SC', serif;
   color: #424242;
 text-align: center;
   padding-top: 20px;
   font-size:40px ;
   letter-spacing: 4px;
   vertical-align: inherit;
   font-weight: 400;
    }
    ul{
        color: #222;
padding: 30px;
border: 5px;
font-size: 20px;
text-transform: uppercase;
    }

    a{
        text-decoration: none;
        color: #38A;
    }
.p-ul{
    margin-left: -10px;
    padding-left: -10px;
    text-align: left;
}
  .sobreh1{
   font-family: 'Barlow', sans-serif;
font-family: 'Playfair Display SC', serif;
   color: #424242;
 text-align: center;
   padding-top: 20px;
   font-size:40px ;
   letter-spacing: 4px;
   vertical-align: inherit;
   font-weight: 400;
 }
 .explicações{
   border-bottom: none;
   font-size: 20px;
   font-weight: 300;
   color: #ccc;
    text-align: center;
 }
.mini-menu{
   text-align: center;
   padding: 20px;
   font-size: 20px;
   text-decoration: none;
 
   
 }
 .um{
   padding-right: 10px;
   color:#38A;
   text-decoration: none;
   padding-bottom: 25px;
 }
 .dois{
   color:#38A;
   padding-left: 10px;
   text-decoration: none;
   padding-bottom: 25px;
 }
 .um :hover{
 color: #222;
   text-decoration: underline;
 }
 .dois :hover{
 color: #222;
  text-decoration: underline;
 }  
 .sobre-text{
   color: #222;
   text-align: center;
padding: 30px;
border: 5px;
font-size: 20px;
text-transform: uppercase;
 }
 .about-site{
color: #222;
text-align: center;
padding: 30px;
border: 5px;
font-size: 20px;
text-transform: uppercase;
 }
 footer{
    text-align: right;
    font-style: italic;
    font-weight: bolder;
    padding-right: 10px;
    border-right: 10px;
    margin-right: 20px;
    padding-bottom: 20px;
 }