@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 body{
background-color:#fff ; 
color: #1D3C78;
}

 header{
   font-family: 'Archivo', sans-serif;
 }
 
 .logo img{
border-radius: 50%;
width: 200px;
height: 200px;
position: absolute;
left: 45%;
top: 20%;
 }
  .title{
   position: absolute;
   left: 45%;
   top: 50%;
 text-align: center;
  }
  .github{
   position: absolute;
   top: 70%;
   left: 35%;
   right: 65%;
   width: 500px;
 padding: 20px;
 border-radius: 50px;
 font-size: 20px;
 color: white;
 background-color: #1D3C78;
 display: flexbox;
 flex-wrap: wrap;
  }
  .github :hover {
   color: #1D3C78;
   background-color: #fff;
  }